body{
    font-family: 'Bebas Neue', cursive;
}


.button-color{
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
    color: white;
    padding: 10px 29px;
}

.profile{
margin: 0 auto ;
}
.profile img{
    width: 100%;
}
.orange-highlight{
    color: #FABE4C;
}
.blue-highlight{
    color: #363958;
}
.bg-color{
    background-color: #FFFBF0;
}

.fashion-footer{
    border: 0;
    background-color: white;
}

.radius{
    border-radius: 20px;
}
.catagories img{
    width: 100%;
    
}
.radius{
    border-radius: 20px;
}

.last-photo img{
    width: 100%;

}
.cc{
    border: 0;
}